{{template "header.html"}}
<div class="container">
    <!--Title and new roll button-->
    <div class="row my-3">
        <div class="col my-auto">
            <h1 class="fw-bold">My Photos</h1>
        </div>
        <div class="col my-auto d-grid gap-2 d-md-flex justify-content-md-end">
            <form action="/photos" enctype="multipart/form-data" method="post" class="row g-3 my-auto">
                <div class="col-auto">
                    <select class="form-select" name="stockName" aria-label="Default select example">
                        <option value="-2">Select a Roll Type</option>
                        <option value="-1">Show all Photos</option>
                        {{range .allRollTypes}}
                        <option value={{.Type_id}}>{{index $.manufacturers .Type_id}} {{.StockName}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-dark mb-3">Search</button>
                </div>
            </form>
        </div>
    </div>

    <!--Content-->
    <div class="row">
        {{range $uuid, $photo := .photos}}
        <div class="col-md-4">
            <div class="img-thumbnail mx-3">
                <a href="/roll/{{index $.rollIdMap $uuid}}">
                    <img id={{$uuid}} src={{$photo}} style="width:100%">
                </a>
            </div>
            <div class="mx-3 mb-5">
                <a href="/roll/{{index $.rollIdMap $uuid}}" type="button" class="btn btn-dark"role="button" id={{index $.rollIdMap $uuid}}
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Open Roll
                </a>
                <form name="addAlbum" method="POST" action="/photos/all">
                    <div>
                        <select name=album_id>
                            <option value="">--Please choose an album--</option>
                            {{range $album := $.album}}
                            <option value={{$album.Album_id}}>{{$album.Title}}</option>
                            {{end}}
                        </select>
                        <input type="hidden" name="photo_id" value={{$uuid}}>
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>
        {{end}}
    </div>

</div>
{{template "footer.html"}}