{{template "header.html"}}
<div class="container">
    <!--Title and new roll button-->
    <div class="row my-3">
        <div class="col my-auto">
            <h1 class="fw-bold">My Photos</h1>
        </div>
    </div>

    <!--Content-->
    <div class="row">
        {{range $uuid, $photo := .photos}}
        <div class="col-md-4">
            <div class="img-thumbnail mx-3">
                <a href="#">
                    <img id={{$uuid}} src={{$photo}} style="width:100%">
                </a>
            </div>
            <div class="mx-3 mb-5">
                <a href="/deletephotopool/{{$uuid}}" type="button" class="btn btn-danger"role="button" id={{$uuid}}
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Delete
                </a>
            </div>
        </div>
        {{end}}
    </div>

</div>
{{template "footer.html"}}