{{template "header.html"}}
<div class="container">
    <!--Title and new roll button-->
    <div class="row my-3">
        <div class="col my-auto">
            <h1>My Photo Rolls</h1>
        </div>
        <div class="col text-end my-auto">
            <!-- <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + New Roll
            </button> -->
        </div>
        <div class="col">
            <img src={{.photo}}>
        </div>
    </div>
</div>
{{template "footer.html"}}